pipeline/PL_FetchCountries.json
{
	"name": "PL_FetchCountries",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.countryList",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "setvar",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "countryName",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CopyCountryData",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "setvar",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "RestResource1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Json1",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"countryList": {
				"type": "array",
				"defaultValue": [
					"india",
					"us",
					"uk",
					"china",
					"russia"
				]
			}
		},
		"variables": {
			"countryName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-07-07T03:51:33Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}